/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --sideBarColor: #454545;
    --themeColor: #D11174;
    --iconColor: #ffff;
    --textColor: #ffff;
    --bgColor: #302F2F;
}

header{
    height: 100vh;
    width: 250px;
    padding: 15px 30px;
    background-color: var(--sideBarColor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}

header .profile{
    text-align: center;
    margin: 10px 0;
}

header .profile img{
    width: 150px;
    border-radius: 50%;
    border: 5px solid var(--iconColor);
}

header .profile h1{
    color: #ffff;
}

header .profile .midia-social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 41px;
    background-color: var(--iconColor);
    color: #454545;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}

header .profile .midia-social a:hover{
    background-color: var(--themeColor);
}

header nav{
    margin-top: 30px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}

header nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}

header nav ul li a:hover i{
    color: var(--themeColor);
}

header nav ul li .active i{
    color: var(--themeColor);
}

header .footer{
    text-align: center;
    background-color: var(--sideBarColor);
    width: 250px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    transition: 0.4s;
}

#MenuBtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #ffff;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    display: none;
    z-index: 999;
}

@media only screen and (max-width: 1050px){
    header{
        left: -300px;
    }

    header .footer{
        left: -300px;
    }   

    #MenuBtn{
        display: block;
    }
}

.mobile-nav-active header{
    left: 0;
}

.mobile-nav-active header .footer{
    left: 0;
}

/* -------------------------------------------------------------------- */

main{
    margin-left: 300px;
    background-color: var(--bgColor);
    transition: 0.3s;

}

@media only screen and (max-width: 1050px){
    main{
        margin-left: 0;
    }
}

#home{
    height: 79vh;
    width: 75%;
    background-color: var(--bgColor);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    position: relative;
}

#home .home-row{
    z-index: 1;
}

#home .home-row h1{
    font-size: 60px;
    color: var(--textColor);
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}

#home .home-row p{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}

#home .home-row p span{
    border-bottom: 4px solid var(--themeColor);
}

#home .home-row button{
    height: 40px;
    width: 100px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 30px;
    color: var(--textColor);
    background-color: var(--themeColor);
}

#home .home-row button:hover{
    color: var(--textColor);
    background-color: #a22365;
}

@media only screen and (max-width: 670px){
    #home{
        padding: 30px;
    }

    #home .home-row h1{
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 50px;
    }

    #home .home-row h1 br{
        display: none;
    }

    #home .home-row p{
        color: whitesmoke;
        font-size: 20px;
        font-weight: 400;
    }
}